# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

answer: "inc", "nc." "orp" and "llc" are all common last three letter of the base nambes in this table

In [4]:

SELECT top 100 RIGHT(Base_Name, 3) 
FROM other_FHV_services_jan_aug_2015

(No column name)
INC
INC
ORP
INC
NC.
INC
NC.
NC.
DIO
RP.
NC.
INC
LTD
ORP
INC
NC.
LLC
INC
NC.
NC.
ORP
INC
INC
INC
INC
LLC
INC
INC
INC
INC
NC.
NC.
INC
INC
NC.
ORP
INC
RP.
SVC
NC.
NC.
INC
RP.
TED
NC.
NC.
INC
NC.
LLC
NC.
NC.
NC.
NC.
RP.
NC.
INC
LLC
INC
INC
ORP
INC
NC.
INC
NC.
NC.
DIO
RP.
NC.
INC
LTD
ORP
INC
NC.
LLC
INC
NC.
NC.
ORP
INC
INC
INC
INC
LLC
INC
INC
INC
INC
NC.
NC.
INC
INC
NC.
ORP
INC
RP.
SVC
NC.
NC.
INC
NC.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [63]:
-- how do you include two columns? and also, which column has "number of pickups" i see "pick up date" and "number of vehicles" so i went with the latter...
SELECT top 10 CHARINDEX(' ', number_of_trips) as 'Space Location in Trips', 
CHARINDEX(' ', number_of_vehicles) as 'Space Location in Vehicles'

FROM other_FHV_services_jan_aug_2015

Space Location in Trips,Space Location in Vehicles
3,3
3,3
4,3
3,2
4,3
4,3
3,3
1,4
4,4
3,3

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

answer: this is what I expected because the table's name indicates it tracked January through August of 2015 so this makes sense to see August as the top month when its in descending order. \*note, the table is not named "<span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other-FHV-services-jan-july15" in the data we have.</span>

In [62]:
SELECT top 10 DATENAME(MONTH, Pick_Up_Date) 
from other_FHV_services_jan_aug_2015
order BY Pick_Up_Date DESC

(No column name)
August
August
August
August
August
August
August
August
August
August

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [61]:
Select top 10 DATENAME(DAY, pick_up_date) as "Day"
,DATENAME(MONTH, pick_up_date) as "Month"

from other_FHV_services_jan_aug_2015

ORDER BY Pick_Up_Date

Day,Month
1,January
1,January
1,January
1,January
1,January
1,January
1,January
1,January
1,January
1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [81]:
-- we have lattitude and longitute, it looks like, but how do i now figure out most in east, north etc. 
-- longitute = vertical, east +, west -; latitude = horizantal, north+, south-

SELECT MAX(start_lng)
FROM lyft
-- WHERE start_lng > 0

(No column name)
-73.72315

In [77]:
SELECT top 1 *
FROM lyft
-- WHERE start_lng > 0
ORDER by start_lng DESC

time_of_trip,start_lat,start_lng
2014-08-13 23:25:00.0000000,40.73252,-73.72315

In [75]:
SELECT top 10 start_lng
FROM lyft
ORDER BY start_lng

start_lng
NULL
-74.22689
-74.20857
-74.19261
-74.19208
-74.19087
-74.18974
-74.18909
-74.18694
-74.18683

Write a query the returns the most northerly Lyft pickup.

In [82]:
SELECT top 1 *
FROM lyft
ORDER by start_lat DESC

time_of_trip,start_lat,start_lng
2014-08-23 06:06:00.0000000,40.93562,-73.89887

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [59]:
SELECT top 10 CONCAT_WS(': ', base_number, base_name)

FROM other_FHV_services_jan_aug_2015

(No column name)
B00013: LOVE CORP CAR INC
B00014: NY ONE CORP CAR INC
B00029: COMMUNITY CAR SVC CORP
B00053: CHARGE AND RIDE INC
B00095: LIBERTY CAR SERVICE INC.
B00221: PROFESSIONAL CAR SERVICE INC
"B00227: PARK WEST EXEC. SERVICES, INC."
B00248: YELLOWSTONE TRANSPORTATION INC.
B00254: XYZ TWO WAY RADIO
B00280: FLEET RADIO DISPATCH CORP.